
# Node modules
node_modules/

# Build folders
dist/
build/

weather_responseTrash
python_help_scripts


# Environment variables
.env

# System files
.DS_Store

# Python cache
.cache
.cache.sqlite
__pycache__/
*.pyc